.card-project{
  background-color: #7C5E99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  box-shadow: 10px 10px 0 white;
}

.card-project.-blue{
  background-color: #4C5B84;
}


.card-project .logo{
  height: 248px;
  width: 220px;
}